main>.container {
    padding: 70px 15px 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

.main-footer {
    height: 50px;
    line-height: 50px;
    background-color: #f8f9fa;
    text-align: left;
    padding: 0 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.sidebar {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #FEC454 !important;
    color: #000 !important;
}

.main-sidebar {
    height: 100vh !important;
    /* Garante que a sidebar ocupa a altura inteira do viewport */
    position: fixed !important;
    /* Fixa a sidebar na posição esquerda */
    top: 0;
    /* Define o topo da sidebar */
    bottom: 0 !important;
    /* Faz com que a sidebar alcance o rodapé */
    overflow-y: auto !important;
    /* Adiciona rolagem vertical, caso necessário */
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.sidebar-collapse .logo-expanded {
    display: none;

}

.sidebar-collapse .logo-collapsed {
    display: block !important;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav>li>form>button.logout:focus {
    outline: none;
}